{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    {% block title %}<title>Online  - Examination </title>{% endblock %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        
        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                
                <div class="row h-100">
                    
                    <div class="col-12 h-100">
                        
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo col-1 h-100">   
                                <img src="{% static 'img/core-img/Ramakrishna-Mission-Vivekananda-University.jpg' %}" alt="">
                            </div>
                           
                            <h2 style="color:blue;text-align:left">Ramakrishna Mission Vivekananda University</h2>
                           <!--<div class="login-content">
                               
                            {% block regster/login %} <a href="{% url 'profregistration' %}">Prof. Register / Login</a>{% endblock %} 
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block slidebar %}
        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li><a href="#">Campus</a>
                                        <ul class="dropdown">
                                            <li><a href="http://rkmvu.ac.in/">Belur </a></li>
                                            <li><a href="http://narendrapur.rkmvu.ac.in/">Narendrapur</a></li>
                                            <li><a href="https://www.rkmvuranchi.ac.in/">Ranchi</a></li>
                                            <li><a href="https://vucbe.org/">Coimbatore</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a href="#">Register</a>
                                        <ul class ="dropdown">
                                            <li><a href="{% url 'registration' %} ">Student</a></li>
                                            <li><a href="{% url 'profregistration' %} ">Professor</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Login</a>
                                        <ul class ="dropdown">
                                            <li><a href="{% url 'login' %} ">Student</a></li>
                                            <li><a href="{% url 'proflogin' %} ">Professor</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:03326549999"><i class="icon-telephone-2"></i> <span> (033) 2654-9999</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    {% endblock %}
    <!-- ##### Hero Area Start ##### -->
    {% block downslidebar %}
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url('/static/img/bg-img/rkm2.jpg');">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms">Ramakrishna Mission Vivekananda Educational and Research Institute</h4>
                                <h2 data-animation="fadeInUp" data-delay="400ms">Welcome to our <br>Online Examination</h2>
                                <div class="col-5">
                                    <a href="{% url 'registration' %}" class="btn academy-btn" data-animation="fadeInUp" data-delay="700ms"><h3>SIGN UP</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url('/static/img/bg-img/rkm1.jpg');">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms">Ramakrishna Mission Vivekananda Educational and Research Institute</h4>
                                <h2 data-animation="fadeInUp" data-delay="400ms">Welcome to our <br>Online Examination</h2>
                                <div class="col-5">
                                     <a href="{% url 'registration' %}" class="btn academy-btn" data-animation="fadeInUp" data-delay="700ms"><h3>SIGN UP</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->
    {% endblock %}
    {% block upperusefullink %}
    <!-- ##### Top Feature Area Start ##### -->
    <div class="top-features-area wow fadeInUp" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="features-content">
                        <div class="row no-gutters">
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-agenda-1"></i>
                                    <h5>Online Courses</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-assistance"></i>
                                    <h5>Amazing Teachers</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-telephone-3"></i>
                                    <h5>Great Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Feature Area End ##### -->
   {%endblock%}
   

    
    
    {% block usefullink %}
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <a href="#"><img src="{% static 'img/core-img/Ramakrishna-Mission-Vivekananda-University.jpg' %}" alt=""></a>
                            </div>
                            <p> “Education is the manifestation of perfection already in man.”</p>
                            <div class="footer-social-info">
                                <a href="https://www.facebook.com/vivekananda.university"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/rkmveri"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.youtube.com/channel/UCGYX43E6kSga_MbhL9Hukmw"><i class="fa fa-youtube"></i></a>
                                <a href="https://www.linkedin.com/school/rkm-vivekananda-university/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Gallery</h6>
                            </div>
                            <div class="gallery-list d-flex justify-content-between flex-wrap">
                                <a href="{% static 'img/bg-img/gallery1.jpeg' %}" class="gallery-img" title="Gallery Image 1"><img src="{% static 'img/bg-img/gallery1.jpeg' %}" alt=""></a>
                                <a href="{% static 'img/bg-img/gallery2.jpeg' %}" class="gallery-img" title="Gallery Image 2"><img src="{% static 'img/bg-img/gallery2.jpeg' %}" alt=""></a>
                                <a href="{% static 'img/bg-img/gallery3.jpeg' %}" class="gallery-img" title="Gallery Image 3"><img src="{% static 'img/bg-img/gallery3.jpeg' %}" alt=""></a>
                                <a href="{% static 'img/bg-img/gallery4.jpg' %}" class="gallery-img" title="Gallery Image 4"><img src="{% static 'img/bg-img/gallery4.jpg' %}" alt=""></a>
                                <a href="{% static 'img/bg-img/rkm1.jpg' %}" class="gallery-img" title="Gallery Image 5"><img src="{% static 'img/bg-img/rkm1.jpg' %}" alt=""></a>
                                <a href="{% static 'img/bg-img/rkm2.jpg' %}" class="gallery-img" title="Gallery Image 6"><img src="{% static 'img/bg-img/rkm2.jpg' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Contact</h6>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-placeholder"></i>
                                <a href="https://www.google.com/maps/place/Ramakrishna+Mission+Vivekananda+Educational+and+Research+Institute/@22.6302063,88.353077,19z/data=!4m12!1m6!3m5!1s0x39f89d7201cee84b:0x220345018f3fff05!2sRamakrishna+Mission+Vivekananda+Educational+and+Research+Institute!8m2!3d22.630116!4d88.3536725!3m4!1s0x39f89d7201cee84b:0x220345018f3fff05!8m2!3d22.630116!4d88.3536725"><p>RKMVERI <br>G. T. Road, PO Belur Math, Howrah, West Bengal 711202<p></a>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-telephone-1"></i>
                                <p>Phone: (033) 2654-9999 <br>Mobile: 8583046464</p>
                            </div>
                            <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p>Email:rkmveri@gmail.com
                                    <br>
                                    Website:http://www.rkmvu.ac.in</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is develop  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="http://www.rkmvu.ac.in" target="_blank">RKMVERI</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
{% endblock %}
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
    <script src="{% static 'js/registration.js' %}"></script>
    <script src="{% static 'js/exam.js' %}"></script>
</body>

</html>