{% extends 'base.html' %}
{% block slidebar %}
        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <!-- <li><a href="">Add Course</a></li>
                                     -->
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:03326549999"><i class="icon-telephone-2"></i> <span>(033) 2654-9999</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block downslidebar %}
    <div class="breadcumb-area bg-img" style="background-image: url('/static/img/bg-img/breadcumb.jpg');">
       <div class="bradcumbContent">
            <h2>Dashboard</h2>
       </div>
    </div>
    <form action="studentvideo" method="POST">
        {% csrf_token %}
        <div class="top-popular-courses-area mt-10 section-padding-100-70">
            <div class="col-12  ">
                    <div class="single-blog-post mb-50 wow fadeInUp" data-wow-delay="300ms">
                        <div class="blog-post-thumb mb-100">
                            {% if messages %}
                            <ul>
                                {% for message in messages %}
	                                <li><a style="color:red; text-align: center;font-size: large;">{{ message }}</a></li>
                                 {% endfor %}
                            </ul>
                        {% endif %}
                        {% for item in examItem %}
                            {% if item.isactive == "Y" %}
                                <p style="color:red;font-size: large;"><b>Your {{item.courseId_id}} examination is at {{item.starttime }} to {{item.endtime }} on {{item.date }}  <button type="submit" style="background-color:blue", >GO</button></b></p>   
                                    <br>    
                            {% else %}
                                 <p style="color:red;font-size: large;">Sorry !!!!! No EXAM</p>
                            {% endif %}
                        {% endfor %} 
                        </div>
                    </div>
             </div>
        </div>
    </form>
{% endblock %}
{% block upperusefullink %}
{% endblock%}
{% block usefullink %}
{% endblock %}